In [2]:
#Square the items of a list
list(map(lambda x: x**2,[1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [3]:
#Odd/Even labeling of list items
l = [1,2,3,4,5]
list(map(lambda x:'even' if x%2==0 else 'odd', l))

['odd', 'even', 'odd', 'even', 'odd']

In [4]:
# fetch names from a list of dict
users = [
    {
        'name':'Rahul',
        'age':23,
        'gender':'male'
    },
    {
        'name':'ankita',
        'age':22,
        'gender':'female'
    },
    {
        'name':'harish',
        'age':25,
        'gender':'male'
    }
]
list(map(lambda users:users['gender'], users))

['male', 'female', 'male']

In [13]:
# Python program to demonstrate
# use of lambda() function
# with map() function
x = ['dog', 'cat', 'parrot', 'rabbit']
 
# here we intend to change all animal names
# to upper case and return the same
x = list(map(lambda x: x.upper(), x))
print(x)

['DOG', 'CAT', 'PARROT', 'RABBIT']

Filter

In [5]:
#numbers grater than 5
l=[3,4,5,6,7]
list(filter(lambda x:x>5, l))

[6, 7]

In [6]:
#Fetch fruits starting with 'a'
fruits = ['apple','guava','cherry']
list(filter(lambda x: x.startswith('a'), fruits))

['apple']

In [12]:
ages = [13, 90, 17, 59, 21, 60, 5]
adults = list(filter(lambda age: age > 18, ages))
print(adults)

[90, 59, 21, 60]

In [11]:
marks = [77, 97, 64, 85, 55, 45, 30]
def fail(score):
    return score < 60
res = filter(fail, marks)
print(list(res))

[55, 45, 30]

Reduce

In [7]:
#sum of all 
import functools
functools.reduce(lambda x,y:x+y, [1,2,3,4,5])

15

In [8]:
#Find min
functools.reduce(lambda x,y: x if x<y else y, [23, 11, 45, 10, 1])

1

In [14]:
# Python code to illustrate
# reduce() with lambda()
# to get sum of a list
from functools import reduce
li = [5, 8, 10, 20, 50, 100]
sum = reduce((lambda x, y: x + y), li)
print(sum)

193