MAP()
* The map function applies a function to each element in a sequence and returns a new sequence containing the transformed elements
* It take two arguments the function to apply and the iterable
* It returns a map object, which can be converted to list or other iterable type

In [2]:
#Square the items of a list
list(map(lambda x: x**2,[1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [3]:
#Odd/Even labeling of list items
l = [1,2,3,4,5]
list(map(lambda x:'even' if x%2 == 0 else 'odd', l))

['odd', 'even', 'odd', 'even', 'odd']

In [4]:
# fetch names from a list of dict
users = [
    {
        'name':'Rahul',
        'age':23,
        'gender':'male'
    },
    {
        'name':'ankita',
        'age':22,
        'gender':'female'
    },
    {
        'name':'harish',
        'age':25,
        'gender':'male'
    }
]
list(map(lambda users:users['gender'], users))

['male', 'female', 'male']

In [16]:
marks = [77, 97, 64, 85, 55]

def grade(marks):
    if marks >= 90:
        return 'A'
    elif 80 <= marks <= 90:
        return 'B'
    elif 70 <= marks <= 80:
        return 'C'
    elif 60 <= marks <= 70:
        return 'D'
    else:
        return 'F'

obj = list(map(grade, marks))
print(obj)
# print(next(obj))

['C', 'A', 'D', 'B', 'F']

In [13]:
# Python program to demonstrate
# use of lambda() function
# with map() function
x = ['dog', 'cat', 'parrot', 'rabbit']
 
# here we intend to change all animal names
# to upper case and return the same
x = list(map(lambda x: x.upper(), x))
print(x)

['DOG', 'CAT', 'PARROT', 'RABBIT']

filter()
* The filter function filters a sequence of elements based on a given condition and returns a new sequence containing the satisfied condition.
* It returns a boolean value

In [5]:
#numbers grater than 5
l=[3,4,5,6,7]
list(filter(lambda x:x>5, l))

[6, 7]

In [2]:
#Fetch fruits starting with 'a'
fruits = ['apple','guava','cherry']
list(filter(lambda x: x.startswith('a'), fruits))

['apple']

In [3]:
fruits = ['apple','guava','cherry']
filter(lambda fruit:'e' in fruits, fruits)
list(filter(lambda fruit:'e' in fruit, fruits))

['apple', 'cherry']

In [19]:
marks = [77, 97, 64, 35, 55]
def fail(score):
    return score < 60
res = list(filter(fail, marks))
print(res)

[35, 55]

In [12]:
ages = [13, 90, 17, 59, 21, 60, 5]
adults = list(filter(lambda age: age > 18, ages))
print(adults)

[90, 59, 21, 60]

In [11]:
marks = [77, 97, 64, 85, 55, 45, 30]
def fail(score):
    return score < 60
res = filter(fail, marks)
print(list(res))

[55, 45, 30]

reduce
* The reduce function is function that applies a function to a sequence and returns a single value
* This function applies the function to the first two elements in the iterable and then applies the function 
  to the result and the next element and so on and returns the final result

In [7]:
#sum of all 
import functools
functools.reduce(lambda x,y:x+y, [1,2,3,4,5])

15

In [8]:
#Find min
functools.reduce(lambda x,y: x if x<y else y, [23, 11, 45, 10, 1])

1

In [14]:
# Python code to illustrate
# reduce() with lambda()
# to get sum of a list
from functools import reduce
li = [5, 8, 10, 20, 50, 100]
sum = reduce((lambda x, y: x + y), li)
print(sum)

193