2.WAS to print "hello world" without using shell.

In [1]:
print('hello world')

hello world

3.WAS to initialize the variable and value as 80.

In [2]:

a=80

4.WAS to initialize multivariable, values 150,120,250.

In [3]:
a,b,c=150,120,250

5.WAS to print the type of data in given value.

In [4]:
a={10,20}
type(a)

set

6.WAS to print the address to the memory block in given value.

In [5]:
a=38
id(a)

140731319642056

7.WAS to print your details, first store your details, extract the value and display it.

In [10]:
name="ashu"
age=26
height=5.8
weight=70
print(name)
print(age)
print(height)
print(weight)
print(name,age,height,weight)

details=["ashu",26,5.8,70]
details[0]

ashu
26
5.8
70
ashu 26 5.8 70

'ashu'

8.WAS to the two values with a temp variable.

In [12]:
x=123
y=345
temp=x
x=y
y=temp
print(x)
print(y)

345
123

9.WAS to swap the two values without a temp veriable.

In [15]:
m=[10,20]
n={10,20}
m,n=n,m
print(m)
print(n)

{10, 20}
[10, 20]

10.WAS to initialize a value and print, after printing the value, then reinitialize the new value to the existing variable and display the value.

In [17]:
a={'a':"pyspiders"}
a['a']

'pyspiders'

11.WAS to convert single to multivalue data type.
    I/P:a=10
    O/P:['1','0']

In [23]:
a=10
a=list(str(a))
print(a)

['1', '0']

12.WAS to concat the two multivalued datatype(str,list,tuple,set,dict)

In [26]:
x="hello"
x+="world"
print(x)

y=[10,20,30]
y+='haii'
print(y)

z=[10,20,30]
z+=(1,2,3)
print(z)

a=[10,20,30]
a+={'a','b','c'}
print(a)

b=[10,20,30]
b+={'a':'b','c':'d'}
print(b)

c={12,20,30}
c|={40,50}
print(c)

helloworld
[10, 20, 30, 'h', 'a', 'i', 'i']
[10, 20, 30, 1, 2, 3]
[10, 20, 30, 'a', 'b', 'c']
[10, 20, 30, 'a', 'c']
{50, 20, 40, 12, 30}

13.WAS to check the length of the collection.

In [27]:
a=[12,13,14]
print(len(a))

3

14.WAS to find out the middle value of the given collection.

In [29]:
a=[10,20,30,40]
print(a[len(a)//2])

30

15.WAS to concat the new string into the starting of the given string.

In [2]:
a="biswal"
b="ashish "
a=b+a
print(a)

ashish biswal

16.WAS to concat the new string into the ending of the string.

In [3]:
a="How can you do"
b=" this"
a=a+b
print(a)

How can you do this

17.WAS to concat the new string into the middle of the given string.

In [5]:
a="abcdefg"
b="XYZ"
a=a[:len(a)//2] + b +a[len(a)//2:]
print(a)

abcXYZdefg

18.WAS to modify the new character into the middle of the given string.

In [9]:
a="pyspiders"
a=a[0:len(a)//2] + 'I' + a[len(a)//2+1:]
print(a)

pyspIders

19.WAS to replace the old character into the new character of a given string.

In [20]:
a="pyspiders"
a=a[0:5] + 'D' + a[-3:]
print(a)

pyspiDers

20.WAS to delete the specific character in the given string.

In [11]:
a="qspiders"
a=a[0:2]+a[3:]
print(a)

qsiders

21.WAS to concat the new string into the specific position of the given string.

In [17]:
a="Odisha"
a=a[0:3]+" Jagannath "+a[3:]
print(a)

Odi Jagannath sha

22.WAS to concat the new value into the starting of the given list.

In [18]:
a=[10,20,30,40]
a[0:0]=['a','b']
print(a)

['a', 'b', 10, 20, 30, 40]

23.WAS to concat the new value into the ending of given list.

In [19]:
a=[10,20,30]
a=a+['a','b']
print(a)

[10, 20, 30, 'a', 'b']

24.WAS to delete the sequence of character in the given list.

In [22]:
a="qspiders"
a=a[0:2]+a[5:]
print(a)

qsers

26.WAS to concat the new value into the middle of the given list.

In [24]:
a=[10,20,30,40]
a[len(a)//2:len(a)//2]=['a','b']
print(a)

[10, 20, 'a', 'b', 30, 40]

27.WAS to concat the new value into the specific position in the given list.

In [31]:
a=[10,15.45,'hii', True]
a[1:-3]=[300,400]
print(a)

[10, 300, 400, 15.45, 'hii', True]

28.WAS to modify the new value into the specific position of the given list.

In [32]:
a=[10,15.45,'hii',True]
a[1]=10+5j
print(a)

[10, (10+5j), 'hii', True]

29.WAS to modify the new value into the starting of the given list.

In [33]:
a=[10,15.45,'hii',True]
a[0]=2000
print(a)

[2000, 15.45, 'hii', True]

30.WAS to modify the new value into the starting of the given list.

In [34]:
a=[10,15.45,'hii',True]
a[-1]=2000
print(a)

[10, 15.45, 'hii', 2000]

31.WAS to modify the new value into the middle of the given list.

In [36]:
a=[10,15.45,'hii',True]
a[len(a)//2]=2000
print(a)

[10, 15.45, 2000, True]

32.WAS to modify the first 4 position value in the given list.

In [37]:
a=[1,2,3,4,5,6,7,8,9,]
a[0:4]=['a','b','c','d']
print(a)

['a', 'b', 'c', 'd', 5, 6, 7, 8, 9]

33.WAS to modify the sequence of value in the given list.

In [39]:
a=[1,2,3,4,5,6,7,8,9,]
a[2:4]=['a','b','c','d']
print(a)

a=[1,2,3,4,5,6,7,8,9,]
a[1::2]=['a','b','c','d']
print(a)

[1, 2, 'a', 'b', 'c', 'd', 5, 6, 7, 8, 9]
[1, 'a', 3, 'b', 5, 'c', 7, 'd', 9]

34.WAS to delete the value in the specific position of the given list.

In [40]:
a=[10,15.45,'hii',True]
del a[-2]
print(a)

[10, 15.45, True]

35.WAS to delete the value in the ending of the given list.

In [41]:
a=[10,15.45,'hii',True]
del a[-1]
print(a)

[10, 15.45, 'hii']

36.WAS to delete the value in the starting of the given list.

In [42]:
a=[10,15.45,'hii',True]
del a[0]
print(a)

[15.45, 'hii', True]

37.WAS to delete the value in the middle of the given list.

In [43]:
a=[10,15.45,'hii',True]
del a[len(a)//2]
print(a)

[10, 15.45, True]

38.WAS to concat the new value in the starting of the tuple.

In [12]:
a=(10,20,'hiii',True)
b=(30,)
a=b+a
print(a)

(30, 10, 20, 'hiii', True)

39.WAS to concat the new value into the middle of the tuple.

In [8]:
a=(10,20,'hiii',True)
a=a[:len(a)//2] + (10+5j,) + a[len(a)//2:]
print(a)

(10, 20, (10+5j), 'hiii', True)

40.WAS to concat the new value into the ending of the tuple.

In [13]:
a=(10,20,'hiii',True)
b=(30,)
a=a+b
print(a)

(10, 20, 'hiii', True, 30)

41.WAS to concat the new value into the set.

In [14]:
a={10,20,30,40}
a=a|{50,60,70}
print(a)

{50, 20, 70, 40, 10, 60, 30}

42.WAS to delete the specific value into the set.

In [25]:
a={10,20,30,40,50,60}
a=a-{20,40}
print(a)

{50, 10, 60, 30}

43.WAS to concat the new key and value into the dict.

In [27]:
d={'name':'ashish'}
d['age']=21
print(d)
       #OR
d={'name':'ashish'}
e={'age': 21, 'height':5.8}
d|=e
print(d)

{'name': 'ashish', 'age': 21}
{'name': 'ashish', 'age': 21, 'height': 5.8}

44.WAS to delete the specific key and value in the given dict.

In [29]:
a={'name': 'ashish', 'age': 21, 'height':5.8}
del a['age']
print(a)

{'name': 'ashish', 'height': 5.8}

45.WAS to modify the specific value in the given dict.

In [30]:
a={'name': 'ashish', 'age': 21, 'height':5.8}
a['age']=25
print(a)

{'name': 'ashish', 'age': 25, 'height': 5.8}

46.WAS to concat the list and tuple value by using typecasting.

In [34]:
a=['a','b','c']
b=(10,20,30)
a=a+list(b)
print(a)
    #OR
a=['a','b','c']
b=(10,20,30)
b=b+tuple(a)
print(b)

['a', 'b', 'c', 10, 20, 30]
(10, 20, 30, 'a', 'b', 'c')

49.WAS to concat the list and tuple value without using typecasting.

In [35]:
a=['a','b','c']
b=(10,20,30)
a+=b
print(a)

['a', 'b', 'c', 10, 20, 30]

50.WAE to check the given number is divisible by 3 or not.

In [36]:
a=40
print(a%3==0)

False

51.WAE to check the given number is divisible by 2 and 6.

In [37]:
a=24
print(a%2==0 and a%6==0)

True

52.WAE to extract the last digit and last two digit in the given integer.

In [39]:
a=1998
print(a%10)
    #Last Two Digit
a=1998
print(a%100)

8
98

53.WAE to check the last digit is divisible by 3 in a given integer.(without typecasting)

In [40]:
a=1998
print((a%10)%3==0)

False

54.WAE to check the last digit is divisible by 3 in a given integer.(with typecasting)

In [41]:
a=1998
print(int(str(a)[-1])%3==0)

False

55.WAE to check the given number is greater than 150.

In [48]:
a=50
print(a>150)

False

56.WAE to check the given number is greater than or equal to 100.

In [43]:
a=100
print(a>100==0 or a==100)

True

57.WAE to check the given number is lesser than 150.

In [47]:
a=50
print(a<150)

True

58.WAE to check the number is less than or equal to 100.

In [2]:
a=100
print(a<=100)

True

59.WAE to check the number is greater than 15 and less than 24.

In [4]:
a=30
print(a>15 and a<24)

False

60.WAE to check the given number is even.

In [5]:
a=13
print(a%2==0)

False

61.WAE to check the given number is odd.

In [6]:
a=13
print(a%2==1)

True

62.WAE to  perform the replication of a given string with 6.

In [8]:
a='Ashish '
print(a*6)

Ashish Ashish Ashish Ashish Ashish Ashish

63.WAE to check the given number is divisible by 3 and also the the number should be greater than 23.

In [9]:
a=33
print(a%3==0 and a>23)

True

64.WAE to check the length of the collection is even or not.

In [10]:
a='Odisha'
print(len(a)%2==0)

True

65.WAE to check the length of the collection is less yhan 55 and greater than 16.

In [11]:
a='wherearegoingrightnow'
print(len(a)<55 and len(a)>16)

True

66.WAE to check perform the length of collection is divisible by 5 and odd.

In [1]:
a='abcdefghijklmnopqrs'
print(len(a)%5==0 and len(a)%2==1)

False

67.WAE to check the middle of the position of a given collection either str or list or tuple.

In [3]:
s='hai'
res=type(s[len(s)//2])
print(res==str or res==list or res==tuple)
print(res)

True
<class 'str'>

68.WAE to check the given number is greater than 20 and less than 30 and it should be even.

In [4]:
a=25
print(a>20 and a<30 and a%2==0)

False

69.WAE to check given number is even and it should be less than 120.

In [5]:
a=110
print(a%2==0 and a<120)

True

70.WAE to check the given number is even and present fromm 40 to 70.

In [2]:
a=42
print(a%2==0 and a>40 and a<70)

True

71.WAE to check the given number is odd and it should be greater than 97.

In [3]:
a=101
print(a%2==1 and a>97)

True

72.WAE to check the given number is less than 122 and greater than 48 and the number should be divisible by 4.

In [4]:
a=98
print(a<122 and a>48 and a%4==0)

False

73.WAE to check the given number is divisible by 3 or 5, displaying the value.

In [10]:
a=25
a%3==0 or a%5==0
print(a)
    #or
print(a%3==0 or a%5==0,a)

25
True 25

74.WAE to check the number is between 100 to 200 including the limit.

In [12]:
a=130
print(a>=100 and a<=200)

True

75.WAE to check the given number is between 100 to 200.

In [7]:
a=98
print(a>100 and a<200)

False

76.WAE to check the given string last character ASCII value should be divisible by 5 or not.

In [2]:
a='apple'
print(ord(a[-1])%5==0)

False

77.WAE to check the given number is present between 60 to 130 and the number should be divisible by 3 and 4 and the last digit should be greater than 9.

In [3]:
a=120
print(a>=60 and a<=130 and a%3==0 and a%4==0 and a%10>9 )

False

78.WAE to check the given number is even or less than 25.

In [4]:
a=24
print(a%2==0 or a<25)

True

79.WAE to check the given number is even or greater than 25.

In [5]:
a=26
print(a%2==0 or a>25)

True

80.WAE to check the given number is divisible by either 3 or 5.

In [6]:
a=78
print(a%3==0 or a%5==0)

True

81.WAE to check the gievn number is not an even number.

In [7]:
a=45
print(a%2==1)

True

82.WAE to check the given number is not an odd number.

In [9]:
a=33
print(a%2==0)

False

83.WAE to check the given number is not divisible by 3.

In [10]:
a=40
print(a%3==1)

True

84.WAE to check the given number is not divisible by 3 and 5.

In [11]:
a=45
print(a%3==1 and a%5==1)

False

85.WAE to check the given number is not divisible by 3 or 5.

In [12]:
a=45
print(a%3==1 or a%5==1)

False

86.WAE to check the given character ASCII value is not divisible by 5.

In [15]:
a='F'
print(ord(a)%5==1)

False

87.WAE to check find out the ASCII character of given number.

In [14]:
a=99
print(chr(a))

c

88.WAE to check find out the ASCII value of a given character.

In [16]:

a='K'
print(ord(a))

75

89.WAE to check the given character is uppercase or not.

In [17]:
a='Y'
'A'<=a<='Z'

True

90.WAE to check the given character is lower case or not.

In [19]:
a='n'
print('a'<=a<='z')

True

91.WAE to check the given character is alphabet.

In [20]:
a='R'
print('A'<=a<='Z' or 'a'<=a<='z')

True

92.WAE to check the given character is ASCII number.

In [21]:
a='7'
print('0'<=a<='9')

True

93.WAE to check the given character is special character.

In [22]:
a='#'
print(0<=ord(a)<=47 or 58<=ord(a)<=64 or 91<=ord(a)<=96 or 123<=ord(a)<=127)

True

94.WAE to check the given character should not be upper case.

In [24]:
a='D'
print(ord(a)<65 or ord(a)>91)
    #OR
print(ord(a) not in range (65,91))

False
False

95.WAE to check the given character should not be lower case.

In [27]:
a='F'
print(ord(a)<97 or ord(a)>122)

True

96.WAE to check the given character should not be alphabet.

In [28]:
a='6'
print(0<=ord(a)<65 or 90<ord(a)<97 or 122<ord(a)<=127)

True

97.WAE to check the given character should not be an ASCII number.

In [29]:
a='p'
print(0<=ord(a)<48 or 57<ord(a)<=127)

True

98.WAE to check the given character should not special character.

In [31]:
a='@'
print(48<=ord(a)<=57 or 65<=ord(a)<=90 or 97<=ord(a)<=122)

False

99.WAE to check the given character is a vowel.

In [35]:
a='m'
print(a in['a','e','i','o','u','A','E','I','O','U'])
    #OR
print(a in 'aeiouAEIOU')

False
False

100.WAE to check the given character is a consonant.

In [34]:
a='g'
print(a not in ['a','e','i','o','u','A','E','I','O','U'])
    #OR
print(a not in 'aeiouAEIOU')

True
True

101.WAE to convert uppercase to lower case in a given character.

In [4]:
a='N'
print(a.lower())
#or
print(chr(ord(a)+32))

n
n

102.WAE to convert lowercase to upper case in a given character.

In [7]:
a='Y'
print(a.lower())

y

103.WAE to extract the previous character in given character.

In [8]:
a='k'
chr(ord(a)-1)

'j'

104.WAE to extract the next character in given character.

In [10]:
a='G'
print(chr(ord(a)+1))

H

105.WAE to check the given character is converted to ASCII value and the value is even as well as the character should be lowercase.

In [16]:
a='h'
print(ord(a)%2==0 and 'a'<=a<='z')

True

106.WAE to check the given character is converted to ASCII value and the value is odd as well as the character should be uppercase.

In [17]:
a='h'
print(ord(a)%2==1 and 'A'<=a<='Z')

False

107.WAE to check the given number is converted to character is not a special symbol or not.

In [22]:
n=78
print('A'<=chr(n)<='Z' or 'a'<=chr(n)<='z' or '0'<=chr(n)<='9')

True

108.WAE to check the given number of the ASCII character is vowel or not.

In [23]:
n=65
print(chr(n) in 'aeiouAEIOU')

True

109.WAE to check the first and second character are sequence or not.

In [24]:
s='abcdef'
ord(s[0])+1==ord(s[1])

True

110.WAE to check the given character ASCII value should be either greater then 25 or less than 112.

In [25]:
a='p'
ord(a)>25 or ord(a)<112

True

111.WAE to given number is increased by 1.

In [28]:
a=12
a=a+1
print(a)

13

112.WAE to given number is increased by 2.

In [29]:
a=12
a=a+2
print(a)

14

113.WAE to given number is decreased by 1.

In [32]:
a=12
a=a-1
print(a)

11

114.WAE to given number is decreased by 3.

In [31]:
a=12
a=a-3
print(a)

9

115.WAE to check the given integer number is present in collection or not.

In [33]:
a=20
b=[10,20,30,40,50]
print(a in b)

True

116.WAE to perform the addition operation on 'A' values and 'B' value and final result should be updated to A.

In [35]:
a=50
b=70
a=a+b
print(a)

120

117.WAE to check the given value is present in collection

In [36]:
a='y'
b='PYSPIDERS'
print(a in b)

False

118.WAE to check the given list is present in the list.

In [31]:
a=[['c','d'],'e','f','g']
b=['c','d']
print(b in a)

True

119.WAE to check the given dict is present in the tuple.

In [39]:
t=(10,20,{1:'2',3:'4',5:'6'})
d={1:'2',3:'4',5:'6'}
print(d in t)

True

120.WAE to check the given value is integer or not.

In [1]:
a=30
type(a)==int

True

121.WAE to check the given value is string value or not.

In [3]:
a='abcd'
print(type(a)==str)

True


122.WAE to check given value is single value or not.

In [2]:
c=b'1010'
type(c) in [int,float,complex,bytes]

True

123.WAE to check given value should not be a single value.

In [4]:
a='d'
print(type(a) not in [int,float,bytes,complex,bool])

True

124.WAE to check given value is multivalue or not.

In [5]:
a={'a','b','c'} #set value
print(type(a) in [list,tuple,set,dict])

True

125.WAE to check the given value is mutable or not.

In [6]:
a=(1,3,5)   #tuple is not a mutable data type
print(type(a) in [list,set,dict])

False

126.WAE to check the value is immutable or not.

In [7]:
a='Ashish'
print(type(a) in [str,tuple])

True

127.WAE to check given value is divisible by 6 as well as that value is present in the collection or not.

In [9]:
a=18
coll=[10,12,18,20]
print(a%6==0 and a in coll)

True

128.WAE to perform bitwise and operation given values are 15 and 19.

In [10]:
a=15
b=19
print(a&b)

3

129.WAE to perform bitwise or operation given values are 115 and 79.

In [11]:
a=115
b=79
print(a|b)

127

130.WAE to perform bitwise xor operation given values are 56 and 22.

In [12]:
a=56
b=22
print(a^22)

46

131.WAE to perform bitwise not operation given values is 15.

In [13]:
a=15
print(~a)

-16

132.WAE to perform bitwise left shift with 32 and skipping value is 3.

In [15]:
a=32
b=3
print(a<<b)

256

133.WAE to perform bitwise right shift with 25 and skipping value is 2.

In [14]:
a=25
b=2
print(a>>b)

6

134.TO find out the ouput of a given codition.
    (10+20*60 and 10**3) or ({10,20} or not ([15-16]))

In [16]:
print((10+20*60 and 10**3) or ({10,20} or not ([15-16])))

1000

135.WAE to check if a given key is present in a dict.

In [17]:
d={a:'apple',b:'ball',c:'cat'}
c=3
print(c in d)

True

136.WAE to check if a value is present in a dict.

In [19]:
d={a:'apple',b:'ball',c:'cat'}
c='ball'
print(c in d.values())

True

137.135.WAE to check if a given key is not present in a dict.

In [20]:
d={a:'apple',b:'ball',c:'cat'}
c=3
print(c not in d)

False

138.WAE to check if a value pair is present in a dict or not.

In [22]:
d={a:'apple',b:'ball',c:'cat'}
c=3
print(c not in d.items())

True

139.WAE to check if two values are pointing to same address or not.

In [23]:
a=24
b=24
print(a is b)

True

140. WAE to check both the values should be integer and both the values are pointing to the same address.

In [26]:
a=129
b=129
print(type(a) is int and type(b) is int and (a is b))

True