In [1]:
#WITH ARGUMENTS WITHOUT RETURN STATEMENTS
x='hello HAII 123 @#$'
def upper(x):

python

In [1]:
#Capitalize
st='hello World123@$'
def u_capitalize(coll):
    res=''
    if 'a'<=coll[0]<='z':
        res+=chr(ord(coll[0])-32)
    else:
        res+=coll[0]
    for i in range(1,len(coll)):
        if 'A'<=coll[i]<='Z':
            res+=chr(ord(coll[i])+32)
        else:
            res+=coll[i]
    return res
u_capitalize(st)

'Hello world123@$'

In [2]:
#casefold
st='HELLO WORLD123@#'
st.casefold()

'hello world123@#'

In [11]:
#lower
st='HELLO WORLD123@#'
def u_lower(coll):
    res=''
    for i in st:
        if 'A'<=i<='Z':
            res+=chr(ord(i)+32)
        else:
            res+=i
    return res
u_lower(st)

'hello world123@#'

In [4]:
#swapcase
st='hello WORLD123!@#'
def u_swapcase(coll):
    res=''
    for i in st:
        if 'a'<=i<='z':
            res+=chr(ord(i)-32)
        elif 'A'<=i<='Z':
            res+=chr(ord(i)+32)
        else:
            res+=i
    return res
u_swapcase(st)

'HELLO world123!@#'

In [28]:
#title
st='@#hello wORLD123abc @# $xyz ijkl'
def u_title(coll):
    i=0
    res=''
    if 'a'<=coll[0]<='z':
        res+=chr(ord(coll[0])-32)
        i=1
    elif 'A'<=coll[0]<='Z':
        res+=coll[0]
        i=1
    while i<len(coll):
        if not('A'<=coll[i]<='Z' or 'a'<=coll[i]<='z'):
            res+=coll[i]
            if 'a'<=coll[i+1]<='z':
                res+=chr(ord(coll[i+1])-32)
            else:
                res+=coll[i+1]
            i+=1
        elif 'A'<=coll[i]<='Z':
            res+=chr(ord(coll[i])+32)
        else:
            res+=coll[i]
        i+=1
    return res
u_title(st)
############

'@#hello World123Abc @# $Xyz Ijkl'

In [29]:
#center
st='abc'
def u_center(coll,width,fillchar=''):
    res=width-len(coll)
    l=res//2
    r=res-1
    res=fillchar*l+coll+fillchar*r
    return res
u_center(st,10,'-')
#####

'---abc------'

In [40]:
#istitle
# st='@Hello World123Abc @# $Xyz Ijkl'
# st.istitle()
st='@Hello World123Abc @# $Xyz Ijkl'
def u_istitle(coll):
    res=''
    if 'a'<=coll[0]<='z':
        return False
    i=0
    while i<len(coll):
        if not('A'<=coll[i]<='Z' or 'a'<=coll[i]<='z'):
            if 'a'<=coll[i+1]<='z':
                return False
        i+=1
    return True
u_istitle(st)

True

In [26]:
#isupper
st='HeLLO123'
def u_isupper(coll):
    for i in coll:
        if 'a'<=i<='z':
            return False
    return True
u_isupper(st)

False

In [28]:
#islower
st='heLLo123'
def u_islower(coll):
    for i in coll:
        if 'A'<=i<='Z':
            return False
    return True
u_islower(st)

False

In [46]:
#isidentifier
st='e1pys_'
def u_isidentifier(coll):
    if '0'<=coll[0]<='9':
        return False
    for i in coll:
        if not ('A'<=i<='Z' or 'a'<=i<='z' or '0'<=i<='9' or i=='_'):
            return False
    return True
u_isidentifier(st)

True

In [52]:
# l=['a','b','c','d']
# '+'.join(l)

l=['a','b','c','d','e']
def join(coll,sep=""):
    for i in coll:
        if type(i)!=str:
            return False
    res=''
    for i in coll:
        res=res+i+sep
    if sep==' ':
        return res
    else:
        return res[:-(len(sep)):]
join(l,'-')

'a-b-c-d-e'