In [54]:
class company:
    cname = 'DRIEMS'
    tollno = 12009867334
    emp_count = 0
    emp_details = {}
    
    def __init__(self, e_name, e_phone, e_salary, e_address, e_domain, e_email):
        self.e_name = e_name
        self.e_phone = e_phone
        self.e_salary = e_salary
        self.e_address = e_address
        self.e_domain = e_domain
        self.e_email = e_email
        self.inc_emp_count()
        self.emp_id = 1200 + self.emp_count
        self.set_emp_details(self.emp_id, self)


    @classmethod
    def inc_emp_count(cls):
        cls.emp_count+=1

    @classmethod
    def set_emp_details(cls, id, self):
        cls.emp_details[id] = self

    
    @classmethod
    def display_emp_details(cls):
        e_list = cls.emp_details
        print('NAME','PHONE','SALARY','ADDRESS','DOMAIN','EMAIL', sep='   |   ')
        for i in e_list:
            print(e_list[i].e_name, 
                  e_list[i].e_phone, 
                  e_list[i].e_salary,
                  e_list[i].e_address,
                  e_list[i].e_domain,
                  e_list[i].e_email, sep='         ')
    
    
    def apply_salary_hike():
        print('After Hike...Ashish salary is',18000 + (18000*(4/100)))
        print('After Hike...Manish salary is',18000 + (18000*(4/100)))
        print('After Hike...Dillip salary is',18000 + (18000*(4/100)))
    
    # def display_spc_emp_details(self):
    #     u_id = int(input("Enter Student ID: "))
    #     if u_id in self.emp_details:
    #         res=self.emp_details[u_id]
    #         print('EMPLOYEE Name: ', res.e_name)
    #         print('EMPLOYEE Phone: ', res.e_phone)
    #         print('EMPLOYEE Email: ', res.e_email)
    #         print('EMPLOYEE Address: ', res.e_address)
    #         print('EMPLOYEE Domain: ', res.e_domain)
    #         print('EMPLOYEE Salary: ', res.e_salary)

    #     else:
    #         print('Invalid Id.....Please Enter A valid ID')

    @staticmethod
    def success():
        print('---------------')
        print('THANK YOU')
        print('---------------')


    
emp1 = company('Ashish', '9876543212', '18000', 'hyd','Test Engineer' ,'ashish@gmail.com' )
emp2 = company('Manish', '9876543345', '22000', 'hyd','Software Engineer' ,'ashish@gmail.com' )
emp3 = company('Dillip', '9876543986', '25000', 'hyd','Software Developer' ,'ashish@gmail.com' )
emp4 = company('Dkjdhfkgkp', '9876543986', '25000', 'hyd','Software Developer' ,'ashish@gmail.com' )


# company.display_emp_details()
# company.apply_salary_hike()
# company.success()
company.emp_details[1204].__dict__

{'e_name': 'Dkjdhfkgkp',
 'e_phone': '9876543986',
 'e_salary': '25000',
 'e_address': 'hyd',
 'e_domain': 'Software Developer',
 'e_email': 'ashish@gmail.com',
 'emp_id': 1204}

In [55]:
a=0
b=1
i=1
while i<=10:
    c=a+b
    print(c)
    a,b=b,c
    i+=1

1
2
3
5
8
13
21
34
55
89

In [ ]:
a=0
b=1
for i in range(1, 10):
    c=a+b
    print(c)
    a,b=