In [2]:
import sqlite3 as sq        #import the sqlite3 module
db = sq.connect('employee.db')      #Create the connection in between sqlite3 to python 
print(db)

#Create the sqlite3 cursor inside the python
cus = db.cursor()       
print(cus)

#To create the query
# cus.execute('Create Table Employee(id int, name varchar(20))') 

#To execute multiple querys
# cus.executemany('Create Table Employee(id int, name varchar(20))') 

#It convert Sql data to python data and it will fetch all the records
cus.fetchall()  

#It convert Sql data to python data and it will fetch only one record
cus.fetchone()

#It convert Sql data to python data and it will fetch the record based on the size
cus.fetchmany()      

#To save the all transaction
db.commit()

#To close the db connection
db.close()

<sqlite3.Connection object at 0x00000139B3F16D40>
<sqlite3.Cursor object at 0x00000139B3C6D740>

In [14]:
#configuration

db = sq.connect('student.sqlite3')
cur = db.cursor()

In [15]:
query = '''create table student(
sid int primary key,
name varchar(30),
age int,
email varchar(30) unique,
phone Bigint unique,
address varchar(50),
marks int)'''

cur.execute(query)
print(cur.rowcount,'Row Affected')

OperationalError: table student already exists

In [37]:
db.commit()

In [33]:
query='''insert into student(sid, name, age, email, phone, address, marks)
values (3, 'Rani', 23, 'rani@gmail.com', 9876544782, 'Pune', 93 )'''
cur.execute(query)
print(cur.rowcount, 'Row Affected')

1 Row Affected

In [35]:
query = '''select * from student'''
cur.execute(query)
res = cur.fetchall()
for i in res:
    print(i)

(1, 'Gopi', 26, 'gopi@gmail.com', 9876544780, 'Hyd', 93)
(2, 'Ram', 27, 'ram@gmail.com', 9876544781, 'Bng', 93)
(3, 'Rani', 23, 'rani@gmail.com', 9876544782, 'Pune', 93)

In [36]:
query = '''update student set email = 'ram56@gmail.com' where sid=2'''
cur.execute(query)
print(cur.rowcount, 'Row Updated')
db.commit()

1 Row Updated

In [38]:
query = '''select * from student'''
cur.execute(query)
res = cur.fetchall()
for i in res:
    print(i)

(1, 'Gopi', 26, 'gopi@gmail.com', 9876544780, 'Hyd', 93)
(2, 'Ram', 27, 'ram56@gmail.com', 9876544781, 'Bng', 93)
(3, 'Rani', 23, 'rani@gmail.com', 9876544782, 'Pune', 93)

In [27]:
query = '''delete from student where sid=1'''
cur.execute(query)
print(cur.rowcount, 'Row Deleted')

1 Row Deleted

In [ ]:
def insert_record