In [5]:
import sqlite3 as sq        #import the sqlite3 module
db = sq.connect('employee.db')      #Create the connection in between sqlite3 to python 
print(db)

#Create the sqlite3 cursor inside the python
cus = db.cursor()       
print(cus)

#to create the query
cus.execute('Create Table Employee(id int, name varchar(20))') 

#To execute multiple querys
cus.executemany('Create Table Employee(id int, name varchar(20))') 

#It convert Sql data to python data and it will fetch all the records
cus.fetchall()  

#It convert Sql data to python data and it will fetch only one record
cus.fetchone()

#It convert Sql data to python data and it will fetch the record based on the size
cus.fetchmany()      

#To save the all transaction
db.commit()

#To close the db connection
db.close()

In [6]:
#configuration

db = sq.connect('student.sqlite3')
cur = db.cursor()

In [15]:
query = '''create table student(
sid int primary key,
name varchar(30),
age int,
email varchar(30) unique,
phone Bigint unique,
address varchar(50),
marks int)'''

cur.execute(query)
print(cur.rowcount,'Row Affected')

OperationalError: table student already exists

In [14]:
db.commit()

In [16]:
query='''insert into student(sid, name, age, email, phone, address, marks)
values (2, 'Gopi', 26, 'gopi@gmail.com', 9876543213, 'Hyd', 95 )'''
cur.execute(query)
print(cur.rowcount, 'Row Affected')

1 Row Affected

In [17]:
query = '''select * form student'''
cur.execute(query)
res = cur.fetchall()
for i in res:
    print(i)

OperationalError: near "form": syntax error

In [18]:
query = '''update student set email = 'kumarswami@gmail.com' where sid=2'''
cur.execute(query)
print(cur.rowcount, 'Row Updated')

1 Row Updated

In [19]:
query = '''select * form student'''
cur.execute(query)
res = cur.fetchall()
for i in res:
    print(i)

OperationalError: near "form": syntax error

In [20]:
query = '''delete from student where sid=2'''
cur.execute(query)
print(cur.rowcount, 'Row Deleted')

1 Row Deleted

In [ ]:
def insert_record