In [2]:
import sqlite3 as sq        #import the sqlite3 module
db = sq.connect('employee.db')      #Create the connection in between sqlite3 to python 
print(db)

#Create the sqlite3 cursor inside the python
cus = db.cursor()       
print(cus)

#to create the query
# cus.execute('Create Table Employee(id int, name varchar(20))') 

#To execute multiple querys
# cus.executemany('Create Table Employee(id int, name varchar(20))') 

#It convert Sql data to python data and it will fetch all the records
cus.fetchall()  

#It convert Sql data to python data and it will fetch only one record
cus.fetchone()

#It convert Sql data to python data and it will fetch the record based on the size
cus.fetchmany()      

#To save the all transaction
db.commit()

#To close the db connection
db.close()

<sqlite3.Connection object at 0x000001E757BB2B60>
<sqlite3.Cursor object at 0x000001E7578F55C0>

In [3]:
#configuration

db = sq.connect('student.sqlite3')
cur = db.cursor()

In [15]:
query = '''create table student(
sid int primary key,
name varchar(30),
age int,
email varchar(30) unique,
phone Bigint unique,
address varchar(50),
marks int)'''

cur.execute(query)
print(cur.rowcount,'Row Affected')

OperationalError: table student already exists

In [10]:
db.commit()

In [17]:
query='''insert into student(sid, name, age, email, phone, address, marks)
values (4, 'Gfdsfspi', 26, 'gopi@gmail.com', 9876544787, 'Hyd', 92 )'''
cur.execute(query)
print(cur.rowcount, 'Row Affected')

IntegrityError: UNIQUE constraint failed: student.email

In [14]:
query = '''select * from student'''
cur.execute(query)
res = cur.fetchall()
for i in res:
    print(i)

(2, 'Gopi', 26, 'kumarswami@gmail.com', 9876543213, 'Hyd', 95)
(3, 'Gojkpi', 26, 'gopi@gmail.com', 9876544656, 'Hyd', 98)

In [16]:
query = '''update student set email = 'imranmi@gmail.com' where sid=2'''
cur.execute(query)
print(cur.rowcount, 'Row Updated')
db.commit()

1 Row Updated

In [19]:
query = '''select * form student'''
cur.execute(query)
res = cur.fetchall()
for i in res:
    print(i)

OperationalError: near "form": syntax error

In [20]:
query = '''delete from student where sid=2'''
cur.execute(query)
print(cur.rowcount, 'Row Deleted')

1 Row Deleted

In [ ]:
def insert_record