In [2]:
import sqlite3 as sq

db = sq.connect('p_student.sqlite3')
cur = db.cursor()

In [6]:
query = '''create table p_student(
sid int primary key,
name varchar(30),
age int,
email varchar(30) unique,
phone Bigint unique,
address varchar(50),
marks int)'''

cur.execute(query)
print(cur.rowcount,'Row Affected')

OperationalError: table p_student already exists

In [36]:
db.commit()

In [21]:
# query='''insert into p_student(sid, name, age, email, phone, address, marks)
# values (3, 'Ram', 25, 'ram@gmail.com', 9876544780, 'Pune', 95 )'''
# cur.execute(query)
# print(cur.rowcount, 'Row Affected')

1 Row Affected

In [35]:
# query = '''delete from p_student where sid=1'''
# cur.execute(query)
# print(cur.rowcount, 'Row Deleted')

1 Row Deleted

In [17]:
def insert_record(sid, name, age, email, phone, address, marks):
    
    query = ''' insert into p_student(sid, name, age, email, phone, address, marks) values (?, ?, ?, ?, ?, ?, ?)'''
    val = [sid, name, age, email, phone, address, marks]
    cur.execute(query, val)
    print(cur.rowcount)
    db.commit()

In [25]:
def fetch_record():
    query = ''' select * from p_student'''
    cur.execute(query)
    for i in cur.fetchall():
        print(i)

In [26]:
def update_record(sid, phone):
    query = ''' update p_student set phone=? where sid=?'''
    val = [phone, sid]
    cur.execute(query, val)
    print(cur.rowcount, 'Row Created')
    db.commit()

In [27]:
def delete_record(sid):
    query = ''' update p_student where sid=?'''
    val = [sid]
    cur.execute(query, val)
    print(cur.rowcount, 'Row Created')
    db.commit()

In [39]:
def main():
    n = int(input("Choose The Option: \n1.Insert\n2.Fetch\n3.Update\n4.Delete\n5.Exit"))
    match n:
        case 1:
            insert_record(int(input('Enter The sid')),
                          input('Enter The Name'),
                          int(input('Enter The Age')),
                          input('Enter The Email'),
                          int(input('Enter The Phone')),
                          input('Enter The Address'),
                          int(input('Enter The Marks'))
                          )
        case 2:
            fetch_record()
        case 3:
            update_record(int(input('Enter The sid')), int(input('Enter The Phone')))
        case 4:
            delete_record(int(input('Enter the sid')))
        case _:
            return
    main()
main()

(1, 'ashu', 23, 'ashu@gmail.com', 9876543212, 'sabira', 35)
(2, 'raja', 24, 'raja@gmail.com', 9876556789, 'bng', 45)