In [1]:
st = 'Ashish'
print(st)

Ashish

In [2]:
st = 'Hello World'
print(len(st))

11

In [4]:
st = 'Python Programming'
print(st[:3])

Pyt

In [ ]:
st = 'hello'
res = ''
for i in range(0, len(st)):
    if 'a' <= st[i] <= 'z':
        res += chr(ord(st[i])-32)
print(res)

HELLO

In [ ]:
st = 'I like apple'
res = ''
for i in st.split():
    if i == 'apple':
        res += 'Orange'
    else:
        res += i + ' '
print(res)

I like Orange

In [3]:
list = [1, 2, 3, 4]
list = list +  [10]
print(list)

[1, 2, 3, 4, 10]

In [ ]:
res = []
list = [1, 2, 3, 4,]
for i in list:
    if i != 3:
        res += [i]
print(res)

[1, 2, 4]

In [1]:
l = ['a', 'b', 'c', 'd']
l[1]

'b'

In [1]:
l = [10, 20, 30, 40, 50]
print(l[::-1])

[50, 40, 30, 20, 10]

In [2]:
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [ ]:
t = ('red', 'green', 'blue', 'yellow')
print(t[-2])

'blue'

In [6]:
t = (10, 20, 5, 15)
min = t[0]
for i in t:
    if min > i:
        min = i
print(min)

5

In [ ]:
t = ('dog', 'cat', 'rabit')
x = 'cat'
for i in range(0,	len(t)):
    if t[i] == x:
        print('index position of cat is ', i)

index position of cat is  1

In [7]:
t	=	('Orange',	'Banana',	'Kiwi')
if	'Kiwi'	in	t:
    print('Kiwi is present')
else:
    print('Kiwi is not present')

Kiwi is present

In [37]:
s = {'a', 'b', 'c'}
print(s)

{'a', 'b', 'c'}

In [3]:
s = {'a', 'b', 'c'}
print(s.clear())

None

In [1]:
s = {1,2,3,4}
res = set()
for i in s:
    if i != 4:
        res.add(i)
print(res)

{1, 2, 3}

In [15]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a|b)

{1, 2, 3, 4, 5}

In [ ]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a & b)

{2, 3}

In [17]:
details = {'name' : 'Ashish', 'age' : 23, 'City' : 'Odisha'}
print(details)

{'name': 'Ashish', 'age': 23, 'City': 'Odisha'}

In [18]:
details = {'name': 'John', 'age': 25}
details['Country'] = 'USA'
print(details)

{'name': 'John', 'age': 25, 'Country': 'USA'}

In [19]:
details = {'name': 'Alice', 'age': 30}
print(details['name'])

Alice

In [21]:
details = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del details['age']
print(details)

{'name': 'Bob', 'city': 'New York'}

In [22]:
details = {'name': 'Alice', 'city': 'Paris'}
if 'city' in details:
    print('Key city exist in the dectionary')
else:
    print('Key city does not exist in the dectionary')

Key city exist in the dectionary

In [23]:
list = [10, 20, 30]
tuple = ('Orange', 'Banana', 'Mango')
dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
print(list)
print(tuple)
print(dict)

[10, 20, 30]
('Orange', 'Banana', 'Mango')
{'name': 'Bob', 'age': 22, 'city': 'New York'}

In [ ]:
# l = [12, 45, 22, 67, 34]
# sorted(l)

l = [12, 45, 22, 67, 34]

[12, 22, 34, 45, 67]

In [1]:
l = ['Orange', 'Banana', 'Mango', 'Grapes']
print(l[2])

Mango

In [26]:
dict1 = {'name': 'Bob', 'age': 22}
dict2 = {'city': 'New York'}
print(dict1 | dict2)

{'name': 'Bob', 'age': 22, 'city': 'New York'}

In [2]:

l = ['Orange', 'Banana', 'Mango', 'Grapes']
l = set(l)
print(l)

{'Banana', 'Mango', 'Grapes', 'Orange'}

In [30]:
my_list = ['apple', 'banana', 'cherry', 'apple', 'banana']

# Convert list to set to remove duplicates
my_set = set(my_list)

print("Set:", my_set)

TypeError: 'set' object is not callable

In [1]:
st = 'ashish'
print(st[::-1])

hsihsa

In [2]:
st = (1,2,3)
st[0]=10
print(st)

TypeError: 'tuple' object does not support item assignment

In [4]:
x = [1,2,3]
y=x
y.append(4)
print(x)

[1, 2, 3, 4]

In [ ]:
for i in range(3, 0, -1):
    print(i)

3
2
1

In [7]:
a = [1,2,3]
b=a.copy()
b.append(4)
print(a,b)

[1, 2, 3] [1, 2, 3, 4]

In [ ]:
def add(a, b=5):
    return a+b
print(add(3))

8

In [9]:
num = {1,2,3,3,2,1}
print(len(num))

3

In [3]:
name = 'PWSKILL'
print(id(name))
name = name + 'Python'
print(id(name))

2469507319344
2469507558192