In [2]:
import pandas as pd
#strings
country = ['India', 'Aus', 'Pak', 'Srilanka', 'England']
pd.Series(country)

0       India
1         Aus
2         Pak
3    Srilanka
4     England
dtype: object

In [3]:
#integers
runs = [13, 45, 36, 78, 112]
pd.Series(runs)

0     13
1     45
2     36
3     78
4    112
dtype: int64

In [4]:
#Custom index
marks = [67, 57, 89, 100]
subjects = ['math', 'english', 'science', 'hindi']
pd.Series(marks, index=subjects)

math        67
english     57
science     89
hindi      100
dtype: int64

In [15]:
#Setting a name
marks=pd.Series(marks, index=subjects, name='Ashish Marks')
marks

math         NaN
english     57.0
science     89.0
hindi      100.0
Name: Ashish Marks, dtype: float64

Series From Dict

In [27]:
#Series form dict
marks = {
    'maths':67,
    'english':57,
    'science':89,
    'hindi':100
}
marks_series = pd.Series(marks, name = 'Ashish Marks')
marks_series

maths       67
english     57
science     89
hindi      100
Name: Ashish Marks, dtype: int64

Series Attributes

In [30]:
#Size
marks_series.size

4

In [20]:
#dtype
marks_series.dtype

dtype('int64')

In [31]:
#name
marks_series.name

'Ashish Marks'

In [33]:
#is_unique
# marks_series.is_unique

pd.Series([1,1,2,3,3,4,5]).is_unique

False

In [34]:
#index
marks_series.index

Index(['maths', 'english', 'science', 'hindi'], dtype='object')

In [35]:
#values
marks_series.values

array([ 67,  57,  89, 100], dtype=int64)

Series Using read_csv

In [53]:
#With one col
subs = pd.read_csv('C:\Users\HP\Desktop\QSPIDER\PYTHON\PANDAS\datasets-session-16-20231201T064034Z-001\datasets-session-16\subs.csv')
subs

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (1084516696.py, line 2)